body {
    font-family: Arial, sans-serif;
    background-color: rgb(97, 157, 165);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(97, 157, 165);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#startButton{
    background-color: rgb(97, 157, 165);
    border-width: 1px;
    height: 36px;
    width: 105px;
    border-radius: 8px;
    cursor: pointer;
}
 #startButton:hover{
    background-color: rgb(60, 93, 97);
 }


.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 5px;
    display: none;
}


